@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600;700&family=Orbitron:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.log {
  background: rgba(120, 255, 80, 0.2);
  outline: lime solid 2px;
}

.flex {
  display: flex;
}

.flexbox, .astre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.fluid {
  flex-grow: 1;
}

.n1 {
  transition-delay: 3ms;
}

.n2 {
  transition-delay: 6ms;
}

.n3 {
  transition-delay: 9ms;
}

.n4 {
  transition-delay: 12ms;
}

.n5 {
  transition-delay: 15ms;
}

.n6 {
  transition-delay: 18ms;
}

.n7 {
  transition-delay: 21ms;
}

.n8 {
  transition-delay: 24ms;
}

.n9 {
  transition-delay: 27ms;
}

.n10 {
  transition-delay: 30ms;
}

.n11 {
  transition-delay: 33ms;
}

.n12 {
  transition-delay: 36ms;
}

.n13 {
  transition-delay: 39ms;
}

.n14 {
  transition-delay: 42ms;
}

.n15 {
  transition-delay: 45ms;
}

.n16 {
  transition-delay: 48ms;
}

.n17 {
  transition-delay: 51ms;
}

.n18 {
  transition-delay: 54ms;
}

.n19 {
  transition-delay: 57ms;
}

.n20 {
  transition-delay: 60ms;
}

.pop {
  opacity: 1 !important;
}
.pop h2, .pop video {
  transform: scale(1) !important;
  letter-spacing: 20px;
  font-size: 2rem;
}

.depop {
  transition: 0.6s;
  opacity: 0;
  pointer-events: none;
}

.depop2 {
  opacity: 0;
}

.hvr1 {
  transition: 0.3s ease-in-out;
}
.hvr1:hover {
  transform: scale(1.1);
}

.hvr2 {
  transition: 0.3s ease-in-out;
}
.hvr2:hover {
  transform: scale(1.2);
}

.Shadow {
  transition: 0.3s;
}
.Shadow:hover {
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.ShadowSoft {
  transition: 0.3s;
}
.ShadowSoft:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

@keyframes landing {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
.landing {
  opacity: 0;
  animation: landing 1s ease-in-out 0s forwards;
}

.landing2 {
  opacity: 0;
  animation: landing 1s ease-in-out 0.2s forwards;
}

.landing3 {
  opacity: 0;
  animation: landing 1s ease-in-out 0.4s forwards;
}

.landing4 {
  opacity: 0;
  animation: landing 1s ease-in-out 0.6s forwards;
}

.landing5 {
  opacity: 0;
  animation: landing 1s ease-in-out 0.8s forwards;
}

.landing6 {
  opacity: 0;
  animation: landing 1s ease-in-out 1s forwards;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3, .astre {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p5 {
  padding: 5rem;
}

.p6 {
  padding: 6rem;
}

.p7 {
  padding: 7rem;
}

.p8 {
  padding: 8rem;
}

.p9 {
  padding: 9rem;
}

.p10 {
  padding: 10rem;
}

.p05 {
  padding: 0.5rem;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m3 {
  margin: 3rem;
}

.m4 {
  margin: 4rem;
}

.m5 {
  margin: 5rem;
}

.m6 {
  margin: 6rem;
}

.m7 {
  margin: 7rem;
}

.m8 {
  margin: 8rem;
}

.m9 {
  margin: 9rem;
}

.m10 {
  margin: 10rem;
}

.m05 {
  margin: 0.5rem;
}

.ma {
  margin: auto;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 9;
}

.btn {
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  text-align: center;
  border-radius: 2rem;
  border: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform-origin: left;
  transform: scale(1.1);
  box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.link {
  text-decoration: none;
}

.bg {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.fs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

.milieu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

* {
  font-family: Orbitron, sans-serif;
}

body {
  overflow: hidden;
}

#all {
  transform-style: preserve-3d;
  transition: 1s;
  margin-top: 50vh;
}

#croix {
  filter: saturate(0) brightness(9) sepia(5) hue-rotate(130deg);
  position: absolute;
  font-size: 2rem;
  top: 0px;
  left: 0px;
}

.titre {
  letter-spacing: 2px;
  text-shadow: 0 0 10px white;
  z-index: 5;
  color: white;
  position: relative;
  top: 100px;
}

.titreafter {
  transform: translateY(-80px);
  font-size: 1rem;
  transition: 0.8s;
}

.tag {
  z-index: 5;
  color: white;
  position: relative;
  top: 700px;
  font-size: 0.7rem;
  letter-spacing: 7px;
}

.btn {
  opacity: 1;
  background: white;
  color: black;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  font-size: 1.7rem;
  transform: translate(-50%, -50%);
  transition: 0.3s, opacity 1s ease-in-out 0.2s;
}
.btn:hover {
  transform: scale(1.1) translate(-50%, -50%);
  box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  transition: 3s ease-in;
}
.overlay:before {
  content: "";
  display: block;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%) scale(0.03);
  border: solid 5000vh rgb(10, 10, 30);
  border-radius: 50%;
}

.overlayDepop {
  transform: scale(200);
  pointer-events: none;
}

.startDepop {
  opacity: 0;
  pointer-events: none;
}

.fusee {
  position: absolute;
  z-index: 5;
  mix-blend-mode: lighten;
  filter: invert(1);
  left: 49vw;
  transform: rotate(-45deg) translateY(-50%);
  top: 340px;
  height: 10vh;
}

.fuseelaunch {
  height: 20vh;
  transform: rotate(-45deg) translateY(-50%) rotate3d(0.5, 1, 0.5, 360deg);
  top: -200px;
  transition: height 1s, transform 1s, top 3s ease-in;
}

.fs {
  pointer-events: none;
  transition: 1s;
}

.bgnoir {
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
.bgnoir h2 {
  font-size: 4rem;
  letter-spacing: 30px;
  margin-top: 7rem;
  text-align: center;
  color: rgb(163, 253, 255);
  text-shadow: 0 0 10px cyan;
  transition: 0.5s;
}

.details {
  text-align: center;
  transition: opacity 3s, transform 3s;
  opacity: 0;
  transition-delay: 0.5s;
}
.details .text {
  font-size: 0.9rem;
  line-height: 1.6;
  text-align: justify;
  color: rgb(163, 253, 255);
  width: 75vw;
  margin: auto;
  transition: opacity 2s;
  text-shadow: 0 0 10px cyan;
}
.details .mid {
  padding-bottom: 3rem;
  text-align: center;
  font-size: 0.7rem;
}
.details h2 {
  transition: 2s;
  transform: scale(0.1);
}
.details video {
  filter: brightness(2) sepia(2) hue-rotate(130deg);
  mix-blend-mode: lighten;
  border-radius: 50%;
  margin-top: 2rem;
  width: 500px;
  transition: opacity 2s, transform 2s;
  transform: scale(0.1);
  pointer-events: auto;
  cursor: pointer;
}

.black {
  opacity: 1;
  background: rgb(1, 1, 1);
}

.planet {
  pointer-events: auto;
  cursor: pointer;
}

.astre {
  pointer-events: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 5px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: -120px;
  transition: 0.5s;
}

.astreup {
  bottom: 0px !important;
}

.btnred {
  height: 40px;
  width: 40px;
  background: rgb(152, 0, 0);
  border-radius: 50%;
  outline: solid grey 5px;
  box-shadow: 0 0 40px 10px rgb(152, 0, 0);
  position: absolute;
  right: -100px;
  top: 5vh;
  transition: 0.3s;
  cursor: pointer;
}
.btnred img {
  width: 60%;
  opacity: 0.4;
}
.btnred img:hover {
  opacity: 1;
}
.btnred:hover {
  transform: scale(1.2);
  background: rgb(255, 0, 0);
  box-shadow: 0 0 60px 20px rgb(255, 0, 0);
}

#rond {
  transition: 0.6s;
}

.switchbtn {
  transform: translateX(18px);
}

.cube3D {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(10px);
}

.cube {
  position: absolute;
  top: 90px;
  width: 80px;
  height: 80px;
  transform-style: preserve-3d;
  transition: 0.6s;
  margin-left: 28px;
}
.cube div {
  height: 30px;
  width: 30px;
  border: solid 2px white;
  box-shadow: 0 0 30px white;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
}
.cube .face2 {
  transform-origin: left;
  transform: rotateY(90deg);
}
.cube .face3 {
  transform-origin: right;
  transform: rotateY(-90deg);
}
.cube .face4 {
  transform-origin: left;
  transform: translateZ(-30px);
}

#btn3D {
  top: 34px;
  position: absolute;
  width: 80px;
  margin-left: 30px;
  cursor: pointer;
}

#btn3D:hover #rond {
  fill: cyan;
}

.dimension2 {
  transform: scale(0.8);
  color: #3C3949;
  position: absolute;
  top: 45px;
  left: 75px;
  cursor: pointer;
  pointer-events: none;
}

.dimension3 {
  transform: scale(0.8);
  color: #3C3949;
  position: absolute;
  top: 45px;
  left: 38px;
  cursor: pointer;
  pointer-events: none;
}

.all3D {
  perspective: 900px;
  transform: rotateX(75deg);
}
.all3D .flexbox, .all3D .astre {
  transform-style: preserve-3d;
}
.all3D #soleil {
  transform: rotateX(90deg);
}
.all3D #mercure {
  transform: translateY(70px) rotateX(90deg);
}
.all3D #venus {
  transform: translateY(130px) rotateX(90deg);
}
.all3D #terre {
  transform: translateY(190px) rotateX(90deg);
}
.all3D #mars {
  transform: translateY(250px) rotateX(90deg);
}
.all3D #jupiter {
  transform: translateY(320px) rotateX(90deg);
}
.all3D #saturne {
  transform: translateY(390px) rotateX(90deg);
}
.all3D #uranus {
  transform: translateY(460px) rotateX(90deg);
}

#mercure3D {
  transform: translateY(70px);
  height: 70px;
  animation: mercure 6s linear infinite, mercure3D 6s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px white);
}
#mercure3D:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px white) !important;
}

#venus3D {
  transform: translateY(130px);
  height: 70px;
  animation: venus 12s linear infinite, venus3D 12s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px brown);
}
#venus3D:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px brown) !important;
}

#terre3D {
  transform: translateY(190px);
  height: 70px;
  animation: terre 24s linear infinite, terre3D 24s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px white);
}
#terre3D:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px white) !important;
}

#mars3D {
  transform: translateY(250px);
  height: 70px;
  animation: mars 36s linear infinite, mars3D 36s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px red);
}
#mars3D:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px red) !important;
}

#jupiter3D {
  transform: translateY(320px);
  height: 70px;
  animation: jupiter 42s linear infinite, jupiter3D 42s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px rgb(130, 165, 0));
}
#jupiter3D:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px rgb(130, 165, 40)) !important;
}

#saturne3D {
  transform: translateY(390px);
  height: 70px;
  animation: saturne 53s linear infinite, saturne3D 53s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px yellow);
}
#saturne3D:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px yellow) !important;
}

#uranus3D {
  transform: translateY(460px);
  height: 70px;
  animation: uranus 72s linear infinite, uranus3D 72s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px rgb(0, 151, 121));
}
#uranus3D:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px rgb(0, 151, 121)) !important;
}

#soleil {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 10px yellow);
  transition: 0.4s;
}
#soleil:hover {
  height: 120px;
  filter: contrast(1.3) drop-shadow(0 0 30px yellow) !important;
}

.info {
  height: 100vh !important;
  transition: 5s !important;
  transform: translateY(0px) scale(5) !important;
  opacity: 0;
}

#mercure {
  transform: translateY(70px);
  height: 70px;
  animation: mercure 6s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px white);
}
#mercure:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px white) !important;
}

#venus {
  transform: translateY(130px);
  height: 70px;
  animation: venus 12s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px brown);
}
#venus:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px brown) !important;
}

#terre {
  transform: translateY(190px);
  height: 70px;
  animation: terre 24s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px white);
}
#terre:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px white) !important;
}

#mars {
  transform: translateY(250px);
  height: 70px;
  animation: mars 36s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px red);
}
#mars:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px red) !important;
}

#jupiter {
  transform: translateY(320px);
  height: 70px;
  animation: jupiter 42s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px rgb(130, 165, 0));
}
#jupiter:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px rgb(130, 165, 40)) !important;
}

#saturne {
  transform: translateY(390px);
  height: 70px;
  animation: saturne 53s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px yellow);
}
#saturne:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px yellow) !important;
}

#uranus {
  transform: translateY(460px);
  height: 70px;
  animation: uranus 72s linear infinite;
  transition: 0.4s;
  filter: contrast(1.3) drop-shadow(0 0 5px rgb(0, 151, 121));
}
#uranus:hover {
  height: 100px;
  filter: contrast(1.3) drop-shadow(0 0 20px rgb(0, 151, 121)) !important;
}

.cercle1 {
  position: absolute;
  border: 2px solid rgba(60, 60, 60, 0.9);
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.cercle2 {
  position: absolute;
  border: 2px solid rgba(60, 60, 60, 0.9);
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

.cercle3 {
  position: absolute;
  border: 2px solid rgba(60, 60, 60, 0.9);
  border-radius: 50%;
  width: 380px;
  height: 380px;
}

.cercle4 {
  position: absolute;
  border: 2px solid rgba(60, 60, 60, 0.9);
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.cercle5 {
  position: absolute;
  border: 2px solid rgba(60, 60, 60, 0.9);
  border-radius: 50%;
  width: 640px;
  height: 640px;
}

.cercle6 {
  position: absolute;
  border: 2px solid rgba(60, 60, 60, 0.9);
  border-radius: 50%;
  width: 780px;
  height: 780px;
}

.cercle7 {
  position: absolute;
  border: 2px solid rgba(60, 60, 60, 0.9);
  border-radius: 50%;
  width: 920px;
  height: 920px;
}

#alien {
  z-index: 5;
  width: 200px;
  position: absolute;
  bottom: -160px;
  left: 10px;
  transition: 0.6s;
}

.bulle {
  z-index: 6;
  width: 200px;
  position: absolute;
  bottom: -160px;
  left: 150px;
  transition: 0.7s;
  background: white;
  color: black;
  padding: 0.4rem;
  font-size: 0.7rem;
  border-radius: 0.5rem;
}

#bigbang {
  z-index: 5;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

.time {
  text-align: center;
  position: absolute;
  top: 6rem;
  z-index: 999;
  width: 100vw;
  font-size: 2rem;
  font-weight: 900;
  color: red;
  animation: destruct 1s infinite;
  transition: 0.4s;
}

.destruct {
  text-align: center;
  position: absolute;
  top: 4rem;
  z-index: 999;
  width: 100vw;
  font-size: 2rem;
  font-weight: 900;
  color: red;
  animation: destruct 0.5s infinite;
  transition: 0.4s;
}

.cache {
  transform: translateY(-200px);
}

.code {
  left: 20px;
  bottom: -100px;
  position: absolute;
  width: auto;
  padding: 0.3rem;
  background: white;
  border-radius: 4px;
  text-align: center;
  transition: 1s;
  transition-delay: 1.8s;
}

.codepop {
  bottom: 20px;
}

@keyframes mercure {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes venus {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes terre {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes mars {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes jupiter {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes saturne {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes uranus {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes destruct {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mercure3D {
  0% {
    transform: translateY(70px) rotateX(90deg) rotateY(0deg);
  }
  100% {
    transform: translateY(70px) rotateX(90deg) rotateY(-360deg);
  }
}
@keyframes venus3D {
  0% {
    transform: translateY(130px) rotateX(90deg) rotateY(0deg);
  }
  100% {
    transform: translateY(130px) rotateX(90deg) rotateY(-360deg);
  }
}
@keyframes terre3D {
  0% {
    transform: translateY(190px) rotateX(90deg) rotateY(0deg);
  }
  100% {
    transform: translateY(190px) rotateX(90deg) rotateY(-360deg);
  }
}
@keyframes mars3D {
  0% {
    transform: translateY(250px) rotateX(90deg) rotateY(0deg);
  }
  100% {
    transform: translateY(250px) rotateX(90deg) rotateY(-360deg);
  }
}
@keyframes jupiter3D {
  0% {
    transform: translateY(320px) rotateX(90deg) rotateY(0deg);
  }
  100% {
    transform: translateY(320px) rotateX(90deg) rotateY(-360deg);
  }
}
@keyframes saturne3D {
  0% {
    transform: translateY(390px) rotateX(90deg) rotateY(0deg);
  }
  100% {
    transform: translateY(390px) rotateX(90deg) rotateY(-360deg);
  }
}
@keyframes uranus3D {
  0% {
    transform: translateY(460px) rotateX(90deg) rotateY(0deg);
  }
  100% {
    transform: translateY(460px) rotateX(90deg) rotateY(-360deg);
  }
}/*# sourceMappingURL=style.css.map */