@use '../DAWSON/reset'
@use '../DAWSON/color'
@use '../DAWSON/flexbox'
@use '../DAWSON/anim'
@use '../DAWSON/spacing'
@use '../DAWSON/position'
@use '../DAWSON/classes'
// @use '../DAWSON/Webkits'
@use '../DAWSON/Fonts'

body
    overflow: hidden

canvas
    z-index: 2
    opacity: 0.4
    position: fixed
    top: 50%
    left: 50%
    filter: blur(8px)
    pointer-events: none
    transition: 2s
    animation: etoile3 10s linear infinite

.plula
    opacity: 0

#all
    transform-style: preserve-3d 
    transition: 1s
    margin-top: 50vh

.jeu
    text-decoration: none
    font-size: 0.9rem
    pointer-events: auto
    color: rgb(120, 131, 255)
    transition: 0.3s, opacity 2s
    text-shadow: 0 0 6px #6c9bff
    &:hover
        color: #c3beff
        text-shadow: 0 0 18px #a16eff

.titre
    letter-spacing: 2px
    text-shadow: 0 0 10px white
    z-index: 5
    color: white
    position: relative
    top: 100px

.titreafter
    transform: translateY(-80px)
    font-size: 1rem
    transition: 0.8s

.tag
    z-index: 5
    color: white
    position: relative
    top: 700px
    font-size: 0.7rem
    letter-spacing: 7px

.btn
    opacity: 1
    background: white
    color: black
    position: absolute
    z-index: 5
    top: 50%
    left: 50%
    font-size: 1.7rem
    transform: translate(-50%, -50%)
    transition: 0.3s, opacity 1s ease-in-out 0.2s

    &:hover
        transform: scale(1.1) translate(-50%, -50%)
        box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.5)

.overlay
    position: absolute
    z-index: 2
    width: 100vw
    height: 100vh
    transition: 3s ease-in

    &:before
        content: ""
        display: block
        width: 50%
        height: 0
        padding-bottom: 50%
        position: absolute
        top: 50%
        left: 50%
        z-index: 3
        transform: translate(-50%, -50%) scale(0.03)
        border: solid 5000vh rgba(10, 10, 30, 1)
        border-radius: 50%

.overlayDepop
    transform: scale(200)
    pointer-events: none

.startDepop
    opacity: 0
    pointer-events: none

.fusee
    position: absolute
    z-index: 5
    mix-blend-mode: lighten
    filter: invert(1)
    left: 49vw
    transform: rotate(-45deg) translateY(-50%)
    top: 340px
    height: 10vh

.fuseelaunch
    height: 20vh
    transform: rotate(-45deg) translateY(-50%) rotate3d(0.5, 1, 0.5, 360deg)
    top: -200px
    transition: height 1s, transform 1s, top 3s ease-in

.fs
    pointer-events: none
    transition: 1s

.bgnoir
    z-index: 1
    opacity: 0
    pointer-events: none

    h2
        font-size: 3rem
        letter-spacing: 30px
        margin-top: 5rem
        text-align: center
        color: rgb(163, 253, 255)
        text-shadow: 0 0 10px cyan
        transition: 0.5s

.details
    text-align: center
    transition: opacity 3s, transform 3s
    opacity: 0
    transition-delay: 0.5s

    .text
        font-size: 0.9rem
        line-height: 1.6
        text-align: justify
        color: rgb(163, 253, 255)
        width: 75vw
        margin: auto
        transition: opacity 2s
        text-shadow: 0 0 10px cyan

    .mid
        padding-bottom: 3rem
        text-align: center
        font-size: 0.7rem

    h2
        transition: 2s
        transform: scale(0.1)

    video
        filter: brightness(2) sepia(2) hue-rotate(130deg)
        mix-blend-mode: lighten
        border-radius: 50%
        margin-top: 2rem
        width: 400px
        transition: opacity 2s, transform 2s
        transform: scale(0.1)
        pointer-events: auto
        cursor: pointer


.black
    opacity: 1
    background: black

.planet
    pointer-events: auto
    cursor: pointer

.astre
    @extend .flexbox
    @extend .p3
    pointer-events: none
    color: white
    font-size: 1.5rem
    font-weight: 800
    letter-spacing: 5px
    box-sizing: border-box
    width: 100%
    position: absolute
    bottom: -120px
    transition: 0.5s

.astreup
    bottom: 0px !important

.btnred
    height: 40px
    width: 40px
    background: rgb(152, 0, 0)
    border-radius: 50%
    outline: solid grey 5px
    box-shadow: 0 0 40px 10px rgb(152, 0, 0)
    position: absolute
    right: -100px
    top: 5vh
    transition: 0.3s
    cursor: pointer

    img
        width: 60%
        opacity: 0.4

        &:hover
            opacity: 1

    &:hover
        transform: scale(1.2)
        background: rgb(255, 0, 0)
        box-shadow: 0 0 60px 20px rgb(255, 0, 0)

// Bouton 3D
#rond
    transition: 0.6s

.switchbtn
    transform: translateX(18px)

.cube3D
    transform: rotateX(45deg) rotateZ(45deg) translateZ(10px)

.cube
    position: absolute
    top: 90px
    width: 80px
    height: 80px
    transform-style: preserve-3d
    transition: 0.6s
    margin-left: 28px

    div
        height: 30px
        width: 30px
        border: solid 2px white
        box-shadow: 0 0 30px white
        box-sizing: border-box
        background: rgba(255,255,255,0.5)
        position: absolute

    .face2
        transform-origin: left
        transform: rotateY(90deg)

    .face3
        transform-origin: right
        transform: rotateY(-90deg)

    .face4
        transform-origin: left
        transform: translateZ(-30px)


#btn3D
    top: 34px
    position: absolute
    width: 80px
    margin-left: 30px
    cursor: pointer

#btn3D:hover #rond
    fill: cyan

.dimension2
    transform: scale(0.8)
    color: #3C3949
    position: absolute
    top: 45px
    left: 75px
    cursor: pointer
    pointer-events: none

.dimension3
    transform: scale(0.8)
    color: #3C3949
    position: absolute
    top: 45px
    left: 38px
    cursor: pointer
    pointer-events: none

.all3D
    perspective: 900px
    transform: rotateX(75deg)

    .flexbox
        transform-style: preserve-3d

    #soleil
        transform: rotateX(90deg)

    #mercure
        transform: translateY(70px) rotateX(90deg)

    #venus
        transform: translateY(130px) rotateX(90deg)

    #terre
        transform: translateY(190px) rotateX(90deg)

    #mars
        transform: translateY(250px) rotateX(90deg)

    #jupiter
        transform: translateY(320px) rotateX(90deg)

    #saturne
        transform: translateY(390px) rotateX(90deg)

    #uranus
        transform: translateY(460px) rotateX(90deg)

// Systeme solaire 3D
#mercure3D
    transform: translateY(70px)
    height: 70px
    animation: mercure 6s linear infinite, mercure3D 6s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px white)
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px white) !important

#venus3D
    transform: translateY(130px)
    height: 70px
    animation: venus 12s linear infinite, venus3D 12s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px brown)
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px brown) !important

#terre3D
    transform: translateY(190px)
    height: 70px
    animation: terre 24s linear infinite, terre3D 24s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px white)
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px white) !important

#mars3D
    transform: translateY(250px)
    height: 70px
    animation: mars 36s linear infinite, mars3D 36s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px red)
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px red) !important

#jupiter3D
    transform: translateY(320px)
    height: 70px
    animation: jupiter 42s linear infinite, jupiter3D 42s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px rgb(130, 165, 0))
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px rgb(130, 165, 40)) !important

#saturne3D
    transform: translateY(390px)
    height: 70px
    animation: saturne 53s linear infinite, saturne3D 53s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px yellow)
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px yellow) !important

#uranus3D
    transform: translateY(460px)
    height: 70px
    animation: uranus 72s linear infinite, uranus3D 72s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px rgb(0, 151, 121))
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px rgb(0, 151, 121)) !important

// Systeme solaire
#soleil
    position: absolute
    cursor: pointer
    pointer-events: auto
    height: 100px
    filter: contrast(1.3) drop-shadow(0 0 10px yellow)
    transition: 0.4s,
    &:hover
        height: 120px
        filter: contrast(1.3) drop-shadow(0 0 30px yellow) !important

.info
    height: 100vh !important
    transition: 5s !important
    transform: translateY(0px) scale(5) !important
    opacity: 0

#mercure
    transform: translateY(70px)
    height: 70px
    animation: mercure 6s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px white)
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px white) !important

#venus
    transform: translateY(130px)
    height: 70px
    animation: venus 12s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px brown)
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px brown) !important

#terre
    transform: translateY(190px)
    height: 70px
    animation: terre 24s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px white)
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px white) !important

#mars
    transform: translateY(250px)
    height: 70px
    animation: mars 36s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px red)
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px red) !important

#jupiter
    transform: translateY(320px)
    height: 70px
    animation: jupiter 42s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px rgb(130, 165, 0))
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px rgb(130, 165, 40)) !important

#saturne
    transform: translateY(390px)
    height: 70px
    animation: saturne 53s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px yellow)
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px yellow) !important

#uranus
    transform: translateY(460px)
    height: 70px
    animation: uranus 72s linear infinite
    transition: 0.4s
    filter: contrast(1.3) drop-shadow(0 0 5px rgb(0, 151, 121))
    &:hover
        height: 100px
        filter: contrast(1.3) drop-shadow(0 0 20px rgb(0, 151, 121)) !important

// Trajectoires
.cercle1
    position: absolute
    border: 2px solid rgba(60,60,60,0.9)
    border-radius: 50%
    width: 140px
    height: 140px

.cercle2
    position: absolute
    border: 2px solid rgba(60,60,60,0.9)
    border-radius: 50%
    width: 260px
    height: 260px
    
.cercle3
    position: absolute
    border: 2px solid rgba(60,60,60,0.9)
    border-radius: 50%
    width: 380px
    height: 380px

.cercle4
    position: absolute
    border: 2px solid rgba(60,60,60,0.9)
    border-radius: 50%
    width: 500px
    height: 500px

.cercle5
    position: absolute
    border: 2px solid rgba(60,60,60,0.9)
    border-radius: 50%
    width: 640px
    height: 640px

.cercle6
    position: absolute
    border: 2px solid rgba(60,60,60,0.9)
    border-radius: 50%
    width: 780px
    height: 780px

.cercle7
    position: absolute
    border: 2px solid rgba(60,60,60,0.9)
    border-radius: 50%
    width: 920px
    height: 920px

// Alien
#alien
    z-index: 5
    width: 200px
    position: absolute
    bottom: -160px
    left: 10px
    transition: 0.6s

.bulle
    z-index: 6
    width: 200px
    position: absolute
    bottom: -160px
    left: 150px
    transition: 0.7s
    background: white
    color: black
    padding: 0.4rem
    font-size: 0.7rem
    border-radius: 0.5rem

// Big Bang
#bigbang
    z-index: 5
    opacity: 0
    transition: 1s
    pointer-events: none

.toutnoir
    filter: brightness(0)

.time
    text-align: center
    position: absolute
    top: 6rem
    z-index: 999
    width: 100vw
    font-size: 2rem
    font-weight: 900
    color: red
    animation: destruct 1s infinite
    transition: 0.4s

.destruct
    text-align: center
    position: absolute
    top: 4rem
    z-index: 999
    width: 100vw
    font-size: 2rem
    font-weight: 900
    color: red
    animation: destruct 0.5s infinite
    transition: 0.4s

.cache
    transform: translateY(-200px)

//Konami Code
.code
    left: 20px
    bottom: -100px
    position: absolute
    width: auto
    padding: 0.3rem
    background: white
    border-radius: 4px
    text-align: center
    transition: 1s
    transition-delay: 1.8s

.codepop
    bottom: 20px

// Animation orbitaire

@keyframes mercure
    0%
        rotate: 0deg
    100%
        rotate: 360deg

@keyframes venus
    0%
        rotate: 0deg
    100%
        rotate: 360deg

@keyframes terre
    0%
        rotate: 0deg
    100%
        rotate: 360deg

@keyframes mars
    0%
        rotate: 0deg
    100%
        rotate: 360deg

@keyframes jupiter
    0%
        rotate: 0deg
    100%
        rotate: 360deg

@keyframes saturne
    0%
        rotate: 0deg
    100%
        rotate: 360deg

@keyframes uranus
    0%
        rotate: 0deg
    100%
        rotate: 360deg

@keyframes destruct
    0%
        opacity: 0
    100%
        opacity: 1

// 3D
@keyframes mercure3D
    0%
        transform: translateY(70px) rotateX(90deg) rotateY(0deg)
    100%
        transform: translateY(70px) rotateX(90deg) rotateY(-360deg)

@keyframes venus3D
    0%
        transform: translateY(130px) rotateX(90deg) rotateY(0deg)
    100%
        transform: translateY(130px) rotateX(90deg) rotateY(-360deg)

@keyframes terre3D
    0%
        transform: translateY(190px) rotateX(90deg) rotateY(0deg)
    100%
        transform: translateY(190px) rotateX(90deg) rotateY(-360deg)

@keyframes mars3D
    0%
        transform: translateY(250px) rotateX(90deg) rotateY(0deg)
    100%
        transform: translateY(250px) rotateX(90deg) rotateY(-360deg)

@keyframes jupiter3D
    0%
        transform: translateY(320px) rotateX(90deg) rotateY(0deg)
    100%
        transform: translateY(320px) rotateX(90deg) rotateY(-360deg)

@keyframes saturne3D
    0%
        transform: translateY(390px) rotateX(90deg) rotateY(0deg)
    100%
        transform: translateY(390px) rotateX(90deg) rotateY(-360deg)

@keyframes uranus3D
    0%
        transform: translateY(460px) rotateX(90deg) rotateY(0deg)
    100%
        transform: translateY(460px) rotateX(90deg) rotateY(-360deg)

// Animation canvas
@keyframes etoile3
    0%
        transform: translate(-50%, -50%) rotate(0deg) scale(6)
    100%
        transform: translate(-50%, -50%) rotate(360deg) scale(6)